.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    border: 1px solid transparent;
    user-select: none; // boi dc chữ

    // khi viết css cho 2 nút canh nhau. Ta dùng css để bắt đối tuong  khác (+ là anh em sibling )
    + .wrapper {
        margin-left: 8px;
    }

    //DISABLEED & là viết sát vào
    &.disable {
        pointer-events: none; // xoa hieu ứng chuột
        opacity: 0.5;
    }
}

//BUTTON TYPE:

//nút rounded nhe hơn primary - nen đăt trên
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary); // ep kieu border primary

    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
        cursor: pointer;
        border-color: var(--primary);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.1);
    }
}

.text {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

//DISABLE BUTTON

//BUTTON SIZE

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 148px;
}
