.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    //cài cứng 1150px nhưng ko vuot ra dc flex box cha
    width: var(--default-layout-width);
    // dc set cứng nhưng khi view nhỏ lai thì theo width
    max-width: 100%;
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
}
