.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-button-width: 52px;

    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    width: 100px;
    height: 80%;
    // 1 tính năng quan trng là khiến thẻ con nằm trọn trong thẻ cha
    display: flex;
}

//ACTION
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 26px;
    padding: 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    font-size: 2.4rem;
    color: #161832;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avarta {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999px;
    margin-left: 12px;
    cursor: pointer;
}
